@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-display: var(--font-orbitron);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
@media (orientation: portrait) {
    .portrait\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .portrait\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (orientation: landscape) {
    .landscape\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .landscape\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
